build
bin
dist
classes
*.launch
*.svn
*.h2.db
*.lock.db
*.dtr
*.swp
*.o
testreports
webapp
Logs
Configuration/Data/LocalDiskDataCopy
Configuration/Data/LuceneLocationIndex
Configuration/Data/LuceneIncidentSearchIndex
Configuration/Data/ICEResults/
upload
downloads
